.animation-sample {
  animation: sample 6s ease-in-out infinite;
  will-change: transform;
}

@keyframes sample {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
