.h1,
h1,
.h2,
h2,
.h3,
h3,
.p1,
.p2,
p,
.p3,
.input,
a {
  font-family: var(--font-sample);
}

// ========================================
// =============== HEADINGS ===============
// ========================================
.h1,
h1 {
  font-size: clamp(38px, 5vw, 70px);
  line-height: clamp(38px, 5vw, 70px);
}

.h2,
h2 {
  font-size: clamp(26px, 5vw, 48px);
  line-height: clamp(26px, 5vw, 48px);
}

.h3,
h3 {
  font-size: 24px;
  line-height: 24px;
}

// ========================================
// ============== PARAGRAPHS ==============
// ========================================
.p1 {
  font-size: clamp(26px, 5vw, 30px);
  line-height: clamp(26px, 5vw, 30px);
}

p,
.p2 {
  font-size: 20px;
  line-height: 24px;
}

.p3 {
  font-size: 16px;
  line-height: 18px;
}

// thin 100;
// extralight 200;
// light 300;
// normal 400;
// medium 500;
// semibold 600;
// bold 700;
// extrabold 800;
// black 900;
